@using Azure.Core
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Bot.Streaming.Payloads
@using Microsoft.Extensions.Hosting
@using SnackApp.Models

@inject TeamsUserCredential teamsUserCredential
@inject IWebHostEnvironment HostEnvironment
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager
@rendermode InteractiveServer

<Loading>
    <div class="welcome page">
        <div class="narrow page-padding">
            <img src="hello.png" />
            <h1 class="center">Welkom bij de Innvolve SnackApp @(!String.IsNullOrEmpty(userName) ? ", " + userName : "")!</h1>
            <p class="center">Your app is running in your @(GetEnvironmentName())</p>
            <FluentTabs style="width: 80%; justify-content: space-between; margin: 4rem auto;">
                <FluentTab style="font-size: 14px; min-height: 32px;">
                    <Content>
                        @if (GroupOrder is null)
                        {
                            <CreateGroupOrder GroupOrder="@GroupOrder" CreateNewGroupOrderCallback="@CreateNewGroupOrder" />
                        }
                        @if (GroupOrder is not null)
                        {
                            <Search />
                            <JoinGroupOrder GroupOrder="@GroupOrder" AddOrderToGroupOrderCallback="@AddOrderToGroupOrder" />
                        }
                    </Content>
                </FluentTab>
            </FluentTabs>


        </div>
    </div>
</Loading>

@code {
    private GroupOrderVM GroupOrder;
    string userName;
    string errorMessage;

    private void CreateNewGroupOrder()
    {
        GroupOrder = new GroupOrderVM();
    }

    private void AddOrderToGroupOrder(OrderVM order)
    {
        GroupOrder.Orders.Add(order);
    }



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            var user = await teamsUserCredential.GetUserInfoAsync();
            userName = user.DisplayName;
        }
        StateHasChanged();
    }

    private string GetEnvironmentName()
    {
        return HostEnvironment.IsDevelopment() ? "local environment" : "Azure environment";
    }
}